* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    max-width: 1400px;
    margin: 0 auto;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.Header{
width: 100%;
height: 68px;
display: flex;
justify-content: space-between;
margin-top: 20px;
align-items: center;
}

.nav{
    height: 34px;
    width: 309px;
    display: flex;
    justify-content: space-between;
    margin-right: 14px;
}

.nav_about, .nav_home{
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
color: #FF6060;
cursor: pointer;
margin-left: 60px;
}


.Footer{  
    width: 100%;
    height: 209px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.FooterLogo{
  width: 122px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 63px 30px 0px 0px;
}

.FooterText{
margin: 15px 30px 0px 0px;
font-family: 'Montserrat';
font-size: 24px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;
}

/*    La page Home  */
.Banner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 461.6%;
    display: flex;
    justify-content: center;
}

.Banner-img {
    background-image: url('./Images/banner.png');
    background-size: cover;
    border-radius: 25px;
    width: 100%;
    height: 223px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
}
.Card{
    width: 340px;
    height: 340px;
    left: 4.03%;
    right: 68.55%;
    top: 6.76%;
    bottom: 52.23%;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Card-img{
 width: 340px;
 height: 340px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FF6060;
border-radius: 10px;
cursor: pointer; 
object-fit: cover;
}

a {
    text-decoration: none;
}

.Card-titre{
    position: relative;
    top: -10%;
    height: 0%;
    left: 2%;
    right: 0%;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF; 
}
.Gallery{
padding: 20px;
width: 100%;
height: auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
background: #F7F7F7;
border-radius: 25px;
margin-top: 20px;
gap: 3%;

}
/*     fin de la page Home    */
/*    la page About     */
.Banner-imgAbout{
    background-image: url('./Images/BannerAbout.png');
    background-size: cover;
    border-radius: 25px;
    width: 100%;
    height: 223px;

    margin-top: 34px;
}

.Collap-container{
    margin: 20px;
}
.title-icon{
width: 100%;
height: 47px;
display: flex;
justify-content: space-between;
align-items: center;
background: #FF6060;
border-radius: 5px;
padding: 2px;
}

.Collap-title{
    height: 34px;
    width: 100px;
   margin-left: 14px;
   font-weight: 500;
   font-size: 24px;
   line-height: 142.6%;
   display: flex;
   align-items: center;
   color: #FFFFFF;
}

.Collap-icon{
margin-right: 10px; 
transform: rotate(180deg);
cursor: pointer;
}
.Collap-iconOpen{
    transform: rotate(0deg);
    margin-right: 10px;
    cursor: pointer;
}

.Collap-content{
    width: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
    padding: 17px;
    background: #F7F7F7;
    border-radius: 5px;
   
}
.About-collap{
    width: 80%;
   margin: 20px auto;
} 
/*   fin de la page About   */
/*   La page Not Found   */
.Error-img{
font-weight: 700;
font-size: 288px;
line-height: 142.6%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #FF6060;
margin: 100px;

}
.Error-p{
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
display: flex;
justify-content: center;
align-items: flex-end;
color: #FF6060;

}
.Error-link{
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
display: flex;
justify-content: center;
align-items: flex-end;
text-decoration-line: underline;
color: #FF6060;
margin: 150px;
}
/**************  Fin de la page d'Erreur ***********/
/***********   La page fiche de logement **********/
.slider{
    width: 100%;
    height: auto;
    position: relative;
 
}
.slider-image{
    width: 100%;
    height: 415px;
    margin-top: 45px;
    border-radius: 25px;
    object-fit: cover;
}
.sliderPrev{
    position: absolute;
    left: 4%;
    top: 50%;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
.imgPrevNone{
    opacity: 0;
}
.sliderNext{
    position: absolute;
    right: 4%;
    top: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.imgNextNone{
    opacity: 0;
}
.image-number{
  position: absolute;
  left: 45%;
  bottom: 5%;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
}
.FicheLogement{
    width: 100%;
    height: auto;
}
.logementInfo{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.titleInfo{
    display: flex;
    font-weight : 500 ;
    align-items : flex-end ;
    color : #FF6060 ;
    margin-bottom: 10px;
}
.locInfo{
  font-size: 18px;
  width: auto;
  height: 26px;
  line-height: 25.67px;
  color : #FF6060 ;
  margin-bottom: 10px;
}
.tags{
display: flex;
width: 30%;
color : #FFFFFF ;
border-radius: 10px;
gap: 10px;

}
.min-tag{
background-color: #FF6060;
border-radius: 10px;
text-align: center;
width: 100px;
height: 25px;
font-size: 14px;
line-height: 22px;


}
.profLoge{
    position: relative;
}
.name{
    position: absolute;
    width: 107px;
    height: 59px;
    right: 5%;
    bottom: 133%;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FF6060;
}
.profil{
    width: 64px;
    height: 64px;
    margin-left: 22px;
    background: #C4C4C4;
}
.stars{
   display: flex;
   justify-content: flex-end;
   padding: 10px;
   gap: 8px;
}

.collapLeft{
  display: flex;
  width: 48%;
  margin-top: 53px;
  
}
.collapRight{
    display: block;
    width: 48%;
    margin-top: 53px;
}
.Collape{
   display: flex;
   width: 100%;
   justify-content: space-between;
   gap: 20px;

}

/********** Responsive Mobile      ********/

@media (max-width: 480px){

  .body{
    width: 100%;
  }
 
/***************  Header Mobile *********/
  .Header{
    height: 70px;
    width: 100%;
  }
  .HeaderLogo{
    width: 20%;
    height: 41px;
    margin: 10px;
  }
 .nav{
    height: 30px;
    width: 57%;
    display: flex;
    justify-content: space-between;
    
 }
 .nav_home{
    width: 30%;
    height: 32px;
    font-size: 17px;
    margin-left: 62px;
 }
 .nav_about{
    height: 31px;
    width: 34%;
    font-size: 17px;
    margin-left: 20px;
   
 }

 /****************   Fin de Header Mobile    **********/

 .Home, .About, .NotFound{
   width: 100%;
 }

 /****************    La page Home Mobile    ***********/
 .sectionBanner{
    width: 100%;
 }
.Banner-img{
    width: 100%;
    height: 111.17px;
    border-radius: 10px;
    background: url(./Images/bannerMobile.png);
    background-size: cover; 
    background-repeat: no-repeat;
}
.Banner{
    height: 103pxpx;
    width: 100%;
    font-size: 20px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 10px;
}
.Gallery{
height: auto;
width: 100%;
border-radius: 0px;
padding: 0;
object-fit: cover;
}
.Card{
    height: 255px;
    border-radius: 10px;
    margin-top: 15px; 
    margin-bottom: 5px;
    object-fit: cover;
}
.Card-img{
    height: 255px;
    width: 100%;
    object-fit: cover;
}

.Card-titre{
    width: 300px;
}
/****************     Fin de la page Home Mobile    ********/

/***************    Responsive Footer *********/
.Footer{
    height: 189px;
    width: 100%;
     
}
.FooterLogo{
    height: 30.44px;
    width: 108px;
    margin-left: 23px;
}
.FooterText{
    height: 23px;
    width: 50%;
    font-size: 12px;
    margin: 15px 0 0 39px;
}

/*****************    La fin de la page footer Mobile   **********/
/***************** La page About Mobile    *************/
.Banner-imgAbout{
    height: 180px;
    width: 100%;
    border-radius: 10px;
    background: url(./Images/BannerAboutM.png); 
    background-repeat: no-repeat;
    background-size: cover;
}
.About{
    height: auto;
}
.About-collap{
   width: 80%;  
    
}
.title-icon{
    height: 29px;
}
.Collap-container{
    width: 100%;
    margin: 20px auto;
}

/******************** Fin de la page About MObile  ***********/
/********************  La page  NotFound Mobile **********/
.NotFound{
    height: auto;
    width: 100%;
}
.Error {
    width: 214px;
    height: 85px;
}
.Error-p{
    height: 100px;
    width: 70%;
    font-size: 20px;
    margin: 20px 0 20px 55px;
    padding: 20px;
}
.Error-link{
    height: 52px;
    width: 50%;
    font-size: 15px;
    margin: 55px auto;
}

/**************** Fin de la page NotFound Mobile **************/

/******  La page Fiche logement mobile ******/

.slider-image{
    height: 255px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.imgPrev{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.imgPrevNone{
    opacity: 0;
}
.imgNext{
    width: 24px;
    height: 24px;
    cursor: pointer;
    
}
.imgNextNone{
    opacity: 0;
}
.image-number{
    width: 24px;
    height: 24px;
    font-size: 12px;
    left: 175px
}

.titleInfo{
    width: 335px;
    height: 46px;
    margin: 0px 10px 10px 10px;
    font-size: 18px;
}
.locInfo{
    width: 323px;
    height: 23px;
    padding: 5px;
    font-size: 14px;
  
}
.tags{
   margin-left: 3px;
   width: 76%;
   height:19px;
   margin-bottom: 22px;
}
.min-tag{
   height: 21px;
   width: 88px;
   border-radius: 5px;
}
.stars{
    justify-content: start;
    gap: 0;
}

.Etoile{
    width: 15px;
    height: 15px;
    padding: 2px;
}
.name{
    margin-left: -49px;
    height: 33px;
    width: 93px;
    font-size: 12px;
    top: 10px;
     
}
.profil{
    height: 32px;
   width: 32px;
}
.Collape{
    width: 90%;
   flex-direction: column;
   margin: 0 auto;

}
.collapLeft{
  height: auto;
  width: 100%;
  border-radius: 5px;

}
.collapRight{
    height: auto;
    width: 100%;
    border-radius: 5px;
   
}
.Collap-title{
    height: 19px;
    width: 77px;
    font-size: 13px;
}
.Collap-content{
    height: auto;
     width: 100%;
     font-size: 12px;
     border-radius: 5px;
}
/******************** Fin de la page Fiche Logement Mobile ********/
}


