body{
    width: 100%;
    margin: 0;
}

.Header{
position: absolute;
width: 100%;
height: 68px;
left: 100px;
top: 40px;

}
.HeaderLogo{
    position: absolute;
    left: 0%;
    right: 83.04%;
    top: 0%;
    bottom: 0%; 
}
.nav{
    position: absolute;
    left: 63.08%;
    right: 0%;
    top: 25%;
    bottom: 25%;
}

.nav_about, .nav_home{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
align-items: flex-end;


color: #FF6060;

}
.nav_about{
    right: 100px;
    left: 120px;
    text-decoration: none;
}
.nav_home{
    text-align: right;
}

.Footer{  
    position: relative;
    width: 100%;
    height: 209px;
    background: #000000;
    top: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.FooterLogo{
 position: absolute;
left: 44.87%;
right: 52.6%;
top: 29.67%;
bottom: 51.46%;

}
.FooterText{
right: 690px;
top: 48.33%;
bottom: 29.67%;
margin: 4px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 17px */
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;

}
.Banner {
    position: absolute;
    left: 25.9%;
    right: 25.14%;
    top: 40.5%;
    bottom: 69.04%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    /* or 68px */
    display: flex;
    align-items: flex-end;
    background-color: #FF6060;
}

.Banner-img {
    background-image: url('./components/Images/banner.png');
    border-radius: 25px;
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 171px;
}
.Card{
    width: 340px;
    height: 340px;
    left: 4.03%;
    right: 68.55%;
    top: 6.76%;
    bottom: 52.23%;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    margin-bottom: 20px;
}

.Card-img{
 
 width: 340px;
 height: 340px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FF6060;
border-radius: 10px;
   
}

.Card-titre{
    position: relative;
    top: -10%;
    height: 0%;
    left: 2%;
    right: 0%;
    line-height: 142.6%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;

}
.Gallery{
position: absolute;
padding: 20px;
width: 1240px;
height: auto;
left: 100px;
top: 437px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
background: #F7F7F7;
border-radius: 25px;
}
.Banner-imgAbout{
    background-image: url('./components/Images/BannerAbout.png');
    border-radius: 25px;
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 171px;   
}
.container{
    position: absolute;
    width: 1023px;
    height: 184px;
    left: 208px;
    top: 484px;
    display: flex;
    justify-content: center;
    
}
.Collap-title{
 width: 100%;
 height: 40px;
background: #FF6060;
border-radius: 5px;
left: 1px;
right: 0;
top: 0.12%;
bottom: 78.4%;
padding-left: 17px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
align-items: center;

color: #FFFFFF;

}
.Collap-icon{   
    position: absolute;
    left: 95.76%;
    top: 5.74%;    
}
.Collap-content{
    position: absolute;
    width: 96%;
    left: 0.24%;
    right: 2.64%;
    top: 22.22%;
    bottom: 10.33%;
    padding: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 5px;
}
.About-collap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}