body{
    width: 100%;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
}

.Header{
position: absolute;
width: 100%;
height: 68px;
left: 100px;
top: 40px;

}
.HeaderLogo{
    position: absolute;
    left: 0%;
    right: 83.04%;
    top: 0%;
    bottom: 0%; 
}
.nav{
    position: absolute;
    left: 63.08%;
    right: 0%;
    top: 25%;
    bottom: 25%;
}

.nav_about, .nav_home{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
align-items: flex-end;


color: #FF6060;

}
.nav_about{
    right: 100px;
    left: 120px;
    text-decoration: none;
}
.nav_home{
    text-align: right;
}

.Footer{  
    position: relative;
    width: 100%;
    height: 209px;
    background: #000000;
    top: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.FooterLogo{
 position: absolute;
left: 44.87%;
right: 52.6%;
top: 29.67%;
bottom: 51.46%;

}
.FooterText{
right: 690px;
top: 48.33%;
bottom: 29.67%;
margin: 4px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 17px */
display: flex;
align-items: flex-end;
text-align: center;
color: #FFFFFF;

}
.Banner {
    position: absolute;
    left: 25.9%;
    right: 25.14%;
    top: 40.5%;
    bottom: 69.04%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    /* or 68px */
    display: flex;
    align-items: flex-end;
    background-color: #FF6060;
}

.Banner-img {
    background-image: url('./components/Images/banner.png');
    border-radius: 25px;
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 171px;
}
.Card{
    width: 340px;
    height: 340px;
    left: 4.03%;
    right: 68.55%;
    top: 6.76%;
    bottom: 52.23%;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    margin-bottom: 20px;
}

.Card-img{
 
 width: 340px;
 height: 340px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FF6060;
border-radius: 10px;
   
}

.Card-titre{
    position: relative;
    top: -10%;
    height: 0%;
    left: 2%;
    right: 0%;
    line-height: 142.6%;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;

}
.Gallery{
position: absolute;
padding: 20px;
width: 1240px;
height: auto;
left: 100px;
top: 437px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
background: #F7F7F7;
border-radius: 25px;
}
.Banner-imgAbout{
    background-image: url('./components/Images/BannerAbout.png');
    border-radius: 25px;
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 171px;   
}

.section-collap{
    width: 70%;
    height: 47px;
    left: 0px;
    top: 0px;
    background: #FF6060;
    border-radius: 5px;
    border-radius: 5px;
    margin: 130px;
}

.title-icon{
width: 100%;
height: 47px;
display: flex;
justify-content: space-between;
align-items: center;
background: #FF6060;
border-radius: 5px;
padding: 2px;
}

.Collap-title{
    height: 34px;
    width: 100px;
   margin-left: 14px;
   font-weight: 500;
   font-size: 24px;
   line-height: 142.6%;
   /* or 34px */
   display: flex;
   align-items: center;
   color: #FFFFFF;
}

.Collap-icon{
margin-right: 10px; 
transform: rotate(180deg);
}
.Collap-iconOpen{
    transform: rotate(0deg);
    margin-right: 10px;
}
.Collap-content{
    height: auto;
    width: 100%;
    left: 18px;
    top: 74px;
font-weight: 400;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
color: #FF6060;

}
.cadre-content{
height: auto;
width: 98.6%;
background: #F7F7F7;
border-radius: 5px;
padding: 9px;
}
.About-collap{
    margin-top: 450px;
    width: 70%;
   margin-left: 12%;
}

.Error-img{
position: absolute;
left: 23%;
right: 0%;
top: 48%;
bottom: 0%;
font-weight: 700;
font-size: 288px;
line-height: 142.6%;
/* or 411px */

display: flex;
align-items: center;
text-align: center;
color: #FF6060;

}
.Error-p{
 position: absolute;
left: 20.49%;
top: 111.18%;
bottom: 35.84%;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
/* or 51px */
display: flex;
align-items: flex-end;
color: #FF6060;

}
.Error-link{
position: absolute;
left: 40.14%;
right: 40.14%;
top: 142.93%;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* identical to box height, or 26px */
display: flex;
align-items: flex-end;
text-decoration-line: underline;
color: #FF6060;
}

.slider{
    width: 100%;
    height: auto;
}
.slider-image{
    width: 1260px;
    height: 415px;
    margin-top: 180px;
    margin-left: 100px;
    border-radius: 25px;
}
.sliderPrev{
    position: absolute;
    left: 10%;
    top: 45%;
   border: none;
   background-color: transparent;
}
.sliderNext{
    position: absolute;
    left: 73%;
    top: 45%;
    border: none;
    background-color: transparent;
}
.image-number{
  position: absolute;
  left: 42%;
  bottom: 28%;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
}
.logementInfo{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.titleInfo{
    display: flex;
    margin-left: 100px;
     font-weight : 500 ;
    align-items : flex-end ;
    color : #FF6060 ;
}
.locInfo{
  font-size: 18px;
  width: auto;
  height: 26px;
  line-height: 25.67px;
  margin-top: -14px;
  margin-left: 110px;
  color : #FF6060 ;
}
.tags{
display: flex;
width: 30%;
color : #FFFFFF ;
border-radius: 10px;
margin-left: 94px;

}
.min-tag{
background-color: #FF6060;
border-radius: 10px;
text-align: center;
width: 100px;
height: 25px;
font-size: 14px;
line-height: 22px;
margin-left: 10px;

}
.name{
    position: absolute;
    width: 93px;
    height: 52px;
    left: 1220px;
    top: 620px;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
}
.profil{
    width: 64px;
    height: 64px;
    left: 1280px;
    margin-left: 20px;
    background: #C4C4C4;
}
.stars{
    margin-left: 72%;
    margin-top: -2%; 
}

.collapLeft{
  display: flex;
  width: 50%;
  margin-top: -60px;
  margin-left: -20px;
}
.collapRight{
    display: flex;
    width: 50%;
    margin-left: 640px;
    margin-top: -309px;
}